body{
  background-color:#588D9C;
}

  h1{
    color: #315657;
  }
  h3{
    color: #315657;
  }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: black ;
    border-width: 5px;
    width: 30%;
  }
